* {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#nav {
    float: right;
    border: solid;
    padding-right: 37px;
}

li.inline{
    display: inline;
}

