* {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    text-align: center;
    margin: 0 auto;
}

header{
    padding:0px 50px;
    background-color: whitesmoke;
    border: solid;
}

main{
    background-color: bisque;
    min-height: 1000px;
}

h1 {
    display: block;
}

#nav {
    position:relative;
    left: 900px;
}

li.inline{
    display: inline;
}

footer {
    border:solid;
}